{% extends 'base.html' %}
{% block title %}회원가입{% endblock %}


{% block content %}



<form action="" method="post">
    {% csrf_token %}
    {% include 'errors.html' %}
    <label for="username" class="form-label">계정</label>
    <input type="text" class="form-control" name="username" id="username">
    <br>
    <label for="password1" class="form-label">비밀번호</label>
    <input type="password" class="form-control" name="password1" id="password1">
    <br>
    <label for="password2" class="form-label">비밀번호 확인</label>
    <input type="password" class="form-control" name="password2" id="password2">
    <br>
    <label for="nickname" class="form-label">닉네임</label>
    <input type="text" class="form-control" name="nickname" id="nickname">
    <input type="submit" class="btn btn-sm btn-primary mt-2" value="회원가입">
</form>


{% endblock %}